@import url('https://fonts.googleapis.com/css2?family=Kanit:wght@500&family=Nunito:wght@300&family=Prompt:ital,wght@1,300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Kanit:ital,wght@1,800&family=Nunito:wght@300&family=Prompt:ital,wght@1,300&display=swap');
body{
    margin: 0;
}
ul {
    list-style-type: none;
    margin: auto;
    padding: 16px;
    overflow: hidden;
    background-color: #333;
    display: flex;
    justify-content: center;;
}

li {
    float: left;
}

li a {
    color: white;
    text-align: center;
    padding: 16px 80px;
    text-decoration: none;
    font-size: 16p;
}

/* Change the link color to #111 (black) on hover */
li a:hover {
    background-color: #111;
}

.col-2{
    display: grid;
    grid-template-columns: 1fr 1fr;
}
.row{
    display: flex;

}

    .container {
        font-family: 'Kanit', sans-serif;
        font-family: 'Nunito', sans-serif;
        font-family: 'Prompt', sans-serif;
        display: grid;
        grid-template-rows: auto auto auto; /* Three rows, each with auto height */
        justify-content: center; /* Center content horizontally */
        align-items: center; /* Center content vertically */
        background: #f5f5f5;
        box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
        border-radius: 16px;
        width: 400px;
        height: 250px; 
        margin-left: 4%;
        margin-bottom: 10px;
        margin-top: 30px;
        color: black;
        font-size: 20px;
    }

    .gg-volume {
        box-sizing: border-box;
        position: relative;
        display: block;
        transform: scale(var(--ggs,1));
        width: 8px;
        height: 8px;
        border: 2px solid;
        border-right: 0;
        -webkit-perspective: 12px;
        perspective: 12px;
        border-top-left-radius: 4px;
        border-bottom-left-radius: 4px;
        justify-content: center; /* Center content horizontally */
        align-items: center; /* Center content vertically */
        justify-self: center;

       }
       
       .gg-volume::after,
       .gg-volume::before {
        content: "";
        display: block;
        box-sizing: border-box;
        position: absolute
       }
       
       .gg-volume::before {
        left: 2px;
        transform: rotateY(-90deg);
        width: 10px;
        height: 10px;
        border: 2px solid;
        border-left: 0;
        top: -3px
       }
       
       .gg-volume::after {
        width: 8px;
        height: 16px;
        border: 6px double;
        border-left: 0;
        border-top-right-radius: 100px;
        border-bottom-right-radius: 100px;
        right: -14px;
        top: -6px
       } 

    .value {
        display: flex;
        justify-content: center; /* Center content horizontally */
        align-items: center; /* Center content vertically */
    }

    .card {
        display: flex;
        justify-content: space-around; /* Distribute content evenly horizontally */
        align-items: center; /* Center content vertically */
        margin-top: 10px; /* Adjust margin as needed */
    }

    .card div {
        display: inline-block;
        margin-right: 10px; /* Adjust margin as needed */
    }
    .header {
        font-family: 'Kanit', 'Nunito', 'Prompt', sans-serif;
        justify-self: center;
        font-size: 26px;
        font-weight: bold;
        background: #ffffff;
        box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
        color: #3c8f80;
        border-radius: 16px;
        width: 200px;
        display: flex;
        justify-content: center; /* Center content horizontally */
        align-items: center; /* Center content vertically */
    }
    .big-header {
        font-family: 'Kanit', 'Nunito', 'Prompt', sans-serif;
        justify-self: center;
        font-size: 40px;
        font-weight: bold;
        background: #842f2f;
        box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
        color: #ffff;
        border-radius: 16px;
        width: 400px;
        display: flex;
        justify-content: center; /* Center content horizontally */
        align-items: center; /* Center content vertically */
        margin-left: 35%;
        margin-top: 10px;
    }